<%- include('../partials/head.ejs') -%>

    <!-- "Remove Entry Modal" 
    ----------------------------------------------------------------------->

    <div class="modal fade" id="removeEntryModal" tabindex="-1">
        <div class="modal-dialog">
            <form class="modal-content" action="/parametres/repertoire/supprime" method="GET">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Client Deletion</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input name="id" id="removeEntryModal-idInput" type="hidden" value="">
                    <p>Do you really want to delete <output id="removeEntryModal-designationOutput"></output>?</p>
                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Proceed</button>
                </div>
            </form>
        </div>
    </div>

    <!-- "Aside" 
    ----------------------------------------------------------------------->

    <%- include('../partials/aside.ejs') -%>

    <!-- "Header" 
    ----------------------------------------------------------------------->

    <%- include('../partials/header.ejs'); -%>

    <!-- "Main" 
    ----------------------------------------------------------------------->

    <main class="p-3">

        <!-- "Alert" 
        ----------------------------------------------------------------------->
        
        <% if(alert) { %>
            <div class="alert alert-<%= alert.type %> alert-dismissible fade show">
                <%= alert.message %>
                <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
            </div>
        <% } %>

        <header class="mb-3 d-flex gap-3 justify-content-between align-items-baseline">
            <div class="d-flex gap-2">

                <!-- "Add Button" 
                ----------------------------------------------------------------------->
                
                <a class="btn btn-primary" id="addEntryModalTrigger" href="/repertoire/ajoute" data-bs-toggle="tooltip" data-bs-title="Add">
                    <i class="bi bi-plus"></i>
                </a>
                
                <!-- "Search Bar" 
                ----------------------------------------------------------------------->
                
                <div class="input-group" id="searchBar">
                    <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
                    <input class="form-control" name="search" id="searchBar-input" type="text" value="<%= baseUrl.searchParams.get('search') ?? '' %>" placeholder="Type a search...">
                </div>

                <!-- "Refresh Button" 
                ----------------------------------------------------------------------->
                
                <a class="btn btn-light border" href="/parametres/repertoire" data-bs-toggle="tooltip" data-bs-title="Refresh">
                    <i class="bi bi-arrow-clockwise"></i>
                </a>

                <!-- "Tags" 
                ----------------------------------------------------------------------->
                
                <input class="btn-check" name="archive" id="archiveTag" type="checkbox" value="1" <%= baseUrl.searchParams.get('archive') == '1' ? 'checked' : '' %>>
                <label class="btn btn-outline-primary rounded-pill" for="archiveTag">Archive</label>

                <input class="btn-check" name="trash" id="trashTag" type="checkbox" value="1" <%= baseUrl.searchParams.get('trash') == '1' ? 'checked' : '' %>>
                <label class="btn btn-outline-primary rounded-pill" for="trashTag">Corbeille</label>
            </div>
        </header>

        <!-- "Tableau" 
        ----------------------------------------------------------------------->
        
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th class="bg-light text-secondary">Designation</th>
                    <th class="bg-light text-secondary">Client</th>
                    <th class="bg-light text-secondary">Ville</th>
                    <th class="bg-light text-secondary">ICE</th>
                    <th class="bg-light text-secondary">Tel 1</th>
                    <th class="bg-light text-secondary">Titulaire Tel 1</th>
                    <th class="bg-light text-secondary">Adresse</th>
                    <th class="bg-light text-secondary">Commentaire</th>
                    <th class="bg-light text-secondary">Nombre achat</th>
                    <th class="bg-light text-secondary">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let client of clients) { %>
                    <tr>
                        <input name="id" type="hidden" value="<%= client.id %>" disabled>
                        <input name="designation" type="hidden" value="<%= client.name %>" disabled>
                        <td>
                            <%= client.name %>
                            <input name="name" value="<%= client.name %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.client_type %>
                            <input name="client_type" value="<%= client.client_type %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.city_id %>
                            <input name="city_id" value="<%= client.city_id %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.company_registration_number %>
                            <input name="company_registration_number" value="<%= client.company_registration_number %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.phone_1 %>
                            <input name="phone_1" value="<%= client.phone_1 %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.phone_1_owner %>
                            <input name="phone_owner_1" value="<%= client.phone_owner_1 %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.address %>
                            <input name="address" value="<%= client.address %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.comment %>
                            <input name="comment" value="<%= client.comment %>" type="hidden" disabled>
                        </td>
                        <td>
                            <%= client.purchase_count %>
                            <input name="purchase_count" value="<%= client.purchase_count %>" type="hidden" disabled>
                        </td>
                        <td class="d-flex gap-1 justify-content-start align-items-center">
                            <a class="btn btn-sm btn-secondary" 
                                    name="editEntryModalTrigger"
                                    href="/repertoire/modifie?id=<%= client.id %>"
                                    style="--bs-btn-padding-y: .2rem; 
                                           --bs-btn-padding-x: .3rem; 
                                           --bs-btn-font-size: .5rem; 
                                             margin-bottom   : .15rem;"
                                    data-bs-toggle="tooltip" 
                                    data-bs-title="Edit">
                                <i class="bi bi-pencil-fill"></i>
                            </a>

                            <form action="/repertoire/<%= client.is_archived == 1 ? 'desarchiver' : 'archive' %>" method="GET" style="font-size: 0;">
                                <input type="hidden" name="id" value="<%= client.id %>">

                                <% const queryFields = ['page', 'search', 'archive', 'trash']; %>
                                <% for (let field of queryFields) {
                                    const value = baseUrl.searchParams.get(field);
                                    if (value !== null) { %>
                                        <input type="hidden" name="<%= field %>" value="<%= value %>">
                                <%  } } %>

                                <button class="btn btn-sm btn-<%= client.is_archived == 1 ? 'outline-' : '' %>warning"
                                        style="--bs-btn-padding-y: .2rem; 
                                               --bs-btn-padding-x: .3rem; 
                                               --bs-btn-font-size: .5rem;"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="<%= client.is_archived == 1 ? 'Desarchiver' : 'Archiver' %>">
                                    <i class="bi bi-archive-fill"></i>
                                </button>
                            </form>

                            <form action="/repertoire/restaurer?<%= baseUrl.searchParams.toString() %>&id=<%= client.id %>" method="GET" style="font-size: 0;">
                                <button class="btn btn-sm btn-<%= client.is_deleted == 1 ? 'outline-' : '' %>danger" 
                                        <% if(client.is_deleted == 0) { %>name="removeEntryModalTrigger"<% } %>
                                        style="--bs-btn-padding-y: .2rem; 
                                               --bs-btn-padding-x: .3rem; 
                                               --bs-btn-font-size: .5rem;" 
                                        <% if(client.is_deleted == 0) { %>type="button"<% } %>
                                        data-bs-toggle="tooltip" 
                                        data-bs-title="<%= client.is_deleted == 0 ? 'Remove' : 'Restore' %>">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <!-- "Pagination" 
        ----------------------------------------------------------------------->

        <% 
            let page = parseInt(baseUrl.searchParams.get('page') ?? 0, 10);

            baseUrl.searchParams.set('page', Math.max((Math.floor(page / 3) * 3) - 3, 0));
            let prevIndex   = baseUrl.toString();

            baseUrl.searchParams.set('page', (Math.floor(page / 3) * 3) + 0);
            let firstIndex  = baseUrl.toString();

            baseUrl.searchParams.set('page', (Math.floor(page / 3) * 3) + 1);
            let secondIndex = baseUrl.toString();

            baseUrl.searchParams.set('page', (Math.floor(page / 3) * 3) + 2);
            let thirdIndex  = baseUrl.toString();

            baseUrl.searchParams.set('page', (Math.floor(page / 3) * 3) + 3);
            let nextIndex   = baseUrl.toString();
        %>

        <div class="btn-group gap-2">
            <a class="btn btn-sm btn-light rounded border" href="<%= prevIndex %>" data-bs-toggle="tooltip" data-bs-title="Previous">
                <i class="bi bi-chevron-left"></i>
            </a>
            <a class="btn btn-sm <%= page === (Math.floor(page / 3) * 3) + 0 ? 'btn-primary' : 'btn-light' %> rounded border" href="<%= firstIndex %>">
                <%= (Math.floor(page / 3) * 3) + 1 %>
            </a>
            <a class="btn btn-sm <%= page === (Math.floor(page / 3) * 3) + 1 ? 'btn-primary' : 'btn-light' %> rounded border" href="<%= secondIndex %>">
                <%= (Math.floor(page / 3) * 3) + 2 %>
            </a>
            <a class="btn btn-sm <%= page === (Math.floor(page / 3) * 3) + 2 ? 'btn-primary' : 'btn-light' %> rounded border" href="<%= thirdIndex %>">
                <%= (Math.floor(page / 3) * 3) + 3 %>
            </a>
            <a class="btn btn-sm btn-light rounded border" href="<%= nextIndex %>" data-bs-toggle="tooltip" data-bs-title="Next">
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
    </main>

<%- include('../partials/footer.ejs', {
    scripts: [ '/public/scripts/settings/entryList.js' ]
}); -%>