<% var tabs = tabs ?? []; %>
<header class="px-3 py-2 <%= (tabs.length > 0) ? 'pb-0' : '' %> bg-light">
    <div class="d-flex justify-content-between align-items-baseline">

        <!-- "Breadcrumb" 
        ----------------------------------------------------------------------->

        <nav>
            <ol class="breadcrumb mb-0">
                <% 
                    let pathname  = baseUrl.pathname;
                    let landmarks = pathname.substr(1).split('/'); 
                %>
                <% for(let i = 0; i < landmarks.length; i++) { %>
                    <li class="breadcrumb-item">
                        <% if(i === 0 || i === landmarks.length - 1) { %>
                            <span><%= landmarks[i] %></span>
                            <% continue; %>
                        <% } %>

                        <a href="<%= pathname.substr(0, pathname.indexOf(landmarks[i])) + landmarks[i] %>">
                            <%= landmarks[i] %>
                        </a>
                    </li>
                <% } %>
            </ol>
        </nav>

        <!-- "Avatar" 
        ----------------------------------------------------------------------->
        
        <div class="dropdown">
            <button class="btn btn-light border dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-fill"></i> 
                <span><%= user.fullname %></span>
            </button>
            <ul class="dropdown-menu">
                <% if(user.job_title === 'administrator') { %>
                    <li><a class="dropdown-item" href="/account">Account info</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/auth/deconnexion">Logout</a></li>
            </ul>
        </div>
    </div>

    <!-- "Tabs"
    ----------------------------------------------------------------------->

    <% if(tabs.length > 0) { %>
        <ul class="nav nav-tabs">
            <% for(let i = 0; i < tabs.length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link <%= tabs[i].url === baseUrl.pathname ? 'active' : '' %>" href="<%= tabs[i].url %>">
                        <%= tabs[i].title %>
                    </a>
                </li>
            <% } %>
        </ul>   
    <% } %>         
</header>